@tailwind base;
@tailwind utilities;
@tailwind components;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  font: 400 1rem var(--body-font);
  color: var(--text-color);
  background: var(--body-color);
  -webkit-font-smoothing: antialiased;
}

:root {
  --header-height: 4.5rem;

  /* colors */
  --hue: 85;
  /* HSL color mode */
  --base-color: hsl(var(--hue) 36% 57%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);
  --verde: #8c8b75;
  --escuro: #525254;

  /* fonts */
  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;

  --title-font: 'Poppins', sans-serif;
  --body-font: 'Montserrat', sans-serif;
  --font-about: 'FontAbout', sans-serif;
}

.teste {
  font: var(--font-about);
}

.teste2 {
  animation: wordBack 15s infinite cubic-bezier(0.77, 0, 0.175, 1);
}

.word_back {
  animation: wordBack 15s infinite cubic-bezier(0.77, 0, 0.175, 1);
}

@keyframes wordBack {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0);
  }
}

details {
  color: black;
  outline: none;
  padding: 15px;
  font-size: 20px;
  line-height: 30px;
  border-radius: 5px;
  transition: all ease-in-out 0.5s;
  cursor: pointer;
  border: 1px solid #8c8b75;

  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  appearance: auto;
  background: #d2d1cc;
}

details[open] {
  background: #d2d1cc;
}

.title {
  font: 700 var(--title-font-size) var(--body-font);
  color: #8c8b75;
  -webkit-font-smoothing: auto;
}

.titleHeader {
  font: 700 var(--title-font-size) var(--body-font);
  color: #f3f3f3;
  -webkit-font-smoothing: auto;
}

.sectionS {
  padding: calc(5rem + var(--header-height)) 0;
}

.sectionL {
  padding: 30rem 0;
}

.containerL {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.m0auto {
  margin: 0 auto;
}

.fundoImg {
  content: '';
  height: 100%;
  width: 100%;
  background: var(--verde);
  position: absolute;
  top: -3.9%;
  right: -5%;
  z-index: 0;
  border-radius: 0.5rem;
  opacity: 0.9;
}

.toggle {
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
}

.divider-1 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 36%, 57%, 1),
    hsla(var(--hue), 65%, 88%, 0.34)
  );
}

.divider-2 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 65%, 88%, 1),
    hsla(var(--hue), 106%, 10%, 1)
  );
}

.card1 {
  padding: 1.5rem 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-bottom: 0.25rem solid #aaab9b;
  border-radius: 0.5rem 0.5rem 0 0;
  text-align: center;
}

.button {
  background-color: #525254;
  color: var(--text-color-light);
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 600 1rem var(--body-font);
  transition: background 0.3s;
}

.button:hover {
  background: #818183;
}

.card {
  background-color: #d2d1cc;
  transition: box-shadow 0.3s ease-in-out;
}
.card:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.7);
}

.h1Card {
  text-align: center;
  font-size: 26px;
  padding-top: 10px;
  color: #525154;
}
.hrCard {
  width: 40%;
  display: block;
  margin: 0 auto;
  border-top: 1px solid #525154;
}

.hrFooter {
  width: 20%;
  display: block;
  margin-left: 100px;
  border-top: 1px solid #525154;
}

.v1 {
  border-left: 1px solid #525154;
  height: 300px;
  margin-top: 10rem;
}

p.text-base {
  padding-top: 15px;
  text-align: justify;
  padding-bottom: 15px;
  color: #525154;
}
.fa {
  font-size: 39px;
  text-align: center;
  margin: 0 auto;
  display: block;
  color: #525154;
}
@media (max-width: 430px) {
  .card {
    margin: 10px;
  }
}

.overlay {
  z-index: 100;
  position: fixed;

  top: 100px;
  bottom: 0px;
  width: 100%;
  max-width: 1800px;

  height: 50%;
  max-height: 760px;
  margin: 1% auto;
  padding: 0.5rem;

  background-color: #626264;
  border-radius: 0.25rem;
}

@media (min-width: 1024px) {
  .overlay {
    top: 100px;
    width: 100%;
    height: 100%;
  }
}

.zoom:hover img {
  transform: scale(1.1);
}
