.swiper {
  padding: 2.5rem;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.swiper-pagination-bullet-active {
  background-color: #996830;
}

.swiper-button-prev {
  color: #996830;
}

.swiper-button-next {
  color: #996830;
}
